<tr>
	<td><%= registered_application.name %></td>
	<td><%= registered_application.url %></td>
	<td><%= link_to 'Show', user_registered_application(@user) %></td>
	<td><%= link_to 'Edit', edit_user_registered_application(@user) %></td>
	<td><%= link_to 'Destroy', user_registered_application(@user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>